<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635254369784-ej5nig3139it1upo9fdca19lk5vuafpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635254369784-ej5nig3139it1upo9fdca19lk5vuafpv</string>
	<key>API_KEY</key>
	<string>AIzaSyAHA-5iBjNjacCg_w0Hcwi-xpz94YrJVI0</string>
	<key>GCM_SENDER_ID</key>
	<string>635254369784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kitezeng.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1336d</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1336d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635254369784:ios:ce81407b563ca8ae7fba0d</string>
</dict>
</plist>